[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
invana-py = {ref = "release/v0", git = "https://github.com/invanalabs/invana-py"}
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
